/* ========================================= */

$desktop: 1000px;
// $pad: 1rem;
$pad: min(1vw, 1rem);

@mixin my {
  margin-top: $pad;
  margin-bottom: $pad;
}

/* ========================================= */

main#page.store {
  
  #grid-container {
    $grey: #E5E5E5;
    $ml: 0.6rem;

    $max-grid-width: var(--max-width);
    $bar-height: 100px;
    $pad-x: var(--gutter);
    

    display: grid;
    @media (max-width: #{$desktop}) { grid-template-columns: 1fr; }
    @media (min-width: #{$desktop}) { grid-template-columns: 260px 1fr; }

    // ==========================================

    #grid-left  {
      // background: lightcyan;
      // width: 100%;
      @media (max-width: #{$desktop}) { display: none; }

      hr { 
        border:  solid $grey 1px; 
        width: 95%;
        transform: translateX(2.5%);
        margin: 1rem 0;
      }

      // padding: 0 $pad-x;
      padding-top: $bar-height;
    }
    
    // ==========================================
    
    #grid-right { 
      padding-left: 48px;
      background: green;
      // outline: solid yellow 5px;
      // border: dashed red 1px;
      width: 100%;
      // height: calc(100vh - var(--navbar-height));
      // min-height: 100vh;  
      // height: fit-content; 



      // ----------------------------------------
      // #filter-button-row,
      // ul#grid-items,
      // #pagination {
      //   max-width: $max-grid-width;
      //   margin: 0 auto;
      // }

      #filter-button-row,
      #pagination {
        @include my;
        background: rgba(0, 255, 255, 0.5);
      }

      // ----------------------------------------

      // top row is the filter buttons
      #filter-button-row {
        // background: #BADA55;

        display: flex;
        justify-content: space-between;
        align-items: center;

        #show-filters-button { 
          // background: lightgreen;
          // outline: solid lightgreen 2px;
          display: inline-flex;
          align-items: center;
          height: 100%;
          cursor: pointer;

          svg { margin-left: $ml; }
        }
      }
    
      // ----------------------------------------
      
      ul#grid-items {  position: relative; // z-index: 0;
        display: grid;
        gap: $pad;
        @media (max-width: #{$desktop}) { grid-template-columns: repeat(2, 1fr); }
        @media (min-width: #{$desktop}) { grid-template-columns: repeat(3, 1fr); }
        
        background: white;//gray;
        grid-auto-rows: min-content;
        //--- gridAutoFlow: 'dense',
            
        li.box { 
          // position: relative; 
          outline: dashed hsl(33, 100%, 50%, 0.5) 2px;
          // aspect-ratio: 1;
      
          // -status: 'entered'  =>  div#app-main  >  ul#grid-items  >  li.box
          // -status: 'exiting'  =>  div#app-main  >  #navbar        >  nav#bottom  >  #cart-btn  >  #hidden-target
          div.box-child {}
        }
      } // </ Grid>   #grid-items 
      
      // ----------------------------------------
      
      #pagination {
        // outline: solid darkorchid 5px;
      }

      // ----------------------------------------

    }

    // ==========================================
    
  }
}