#page.store {
  
  #grid-container {
    $break: 960px;
    $grey: #E5E5E5;
    $ml: 0.6rem;
    
    // display: grid;
    // grid-template-areas: 'A B';
    display: flex;
    
    // @media (max-width: #{$break}) {
    //   grid-template-columns: auto;
    //   #grid-right { width: 100vw; }
    // }
    // @media (min-width: #{$break}) {
    //   grid-template-columns: 200px 1fr;
    // }

    #grid-left  {
      // grid-area: A;
      @media (max-width: #{$break}) {
        display: none;
      }

      // background: white;

      hr { 
        border:  solid $grey 1px; 
        width: 95%;
        transform: translateX(2.5%)
      }
    }
    #grid-right {
      // grid-area: B;

      border: dashed red 5px;
      width: 100%;

      ul#grid-items { 
        border: solid black 1px;
        width: 100%;

        position: relative;
        // z-index: 0;
        
        display: grid;
        // justify-items: stretch;
        // align-items: stretch;

        gap: 1rem;
        padding: 1rem;
        background: white;//gray;
        grid-auto-rows: min-content;
        //--- gridAutoFlow: 'dense',
        max-width: 1200px;
        margin: 0 auto;
        
        // top row is the filter buttons
        grid-template-rows: 50px;
        #filter-button-row {
          grid-column: 1 / -1;

          display: flex;
          justify-content: space-between;
          align-items: center;

          #show-filters-button {
            // background: lightgreen;
            // outline: solid lightgreen 2px;
            display: inline-flex;
            align-items: center;
            height: 100%;
            cursor: pointer;

            svg { margin-left: $ml; }
          }

          #sort-by-dropdown {
            cursor: pointer;

            // background: yellow;
            h5 { 
              display: inline; 
            }
            svg { 
              display: inline;
              margin-left: $ml;
              height: 100%;
              // outline: solid 1px white;
            }
          }
        }
      
        @media (max-width: #{$break}) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: #{$break}) {
          grid-template-columns: repeat(3, 1fr);
        }
        
      
      
        li.box { 
          // position: relative; 
          outline: dashed hsl(33, 100%, 50%, 0.1) 1px;
          // aspect-ratio: 1;
      
          // -status: 'entered'  =>  div#app-main  >  ul#grid-items  >  li.box
          // -status: 'exiting'  =>  div#app-main  >  #navbar        >  nav#bottom  >  #cart-btn  >  #hidden-target
          div.box-child {}
        }
      } // </ Grid>   #grid-items 

    }
  }
}