.chevron-anim-container {
  outline: solid lightgreen 1px;
  padding: 0.25rem;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  perspective: 800px;

  
    .chevron-anim {
      transform: rotate3d(1, 0, 0, 0deg);
      transform-origin: center;
      transition: transform 1s ease;
      
      &__up {
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }
  