/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  box-sizing: border-box;
}

body {
  background: black;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header#navbar {
  position: relative;
  z-index: 9; /* blur-overlay: 10 */
}

aside#navdrawer {
  position: fixed;
  z-index: 9; /* blur-overlay: 10 */
  border: solid red 20px;
}

aside#cart {
  position: relative;
  z-index: 9; /* blur-overlay: 10 */
}

#root-main {
  overflow: hidden;
}
#root-main > main#page {
  position: relative;
  z-index: 0;
  padding: 75px 0;
}