@import url('https://fonts.bunny.net/css2?family=Nunito:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  magin: 0;
}
* { 
  box-sizing: border-box;
  color: white; 
}
input { color: black; }

#page {
  padding: 75px 5%;
}