.dropdown {    position: relative;    z-index: 11;
  // $ml: 1rem;

  &__button {
    padding: 1rem;
    outline: solid black 1px;

    cursor: pointer;
    // background: yellow;
    h5 { 
      display: inline; 
    }
    svg { 
      display: inline;
      margin-left:1rem;// $ml;
      height: 100%;
      // outline: solid 1px white;
    }  
  }

  &__menu {    position: absolute;
    left: 0;
    // top: calc(100% + 0.25rem);
    top: calc(100% + 0.25rem);

    width: 100%;
    
    background: #F1F1F1;
    padding: 0.75rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    --anim: 150ms ease-in-out;
    transition: 
      opacity var(--anim),
      transform var(--anim),
    ;
    pointer-events: none;

    
    .dropdown-option {
      cursor: pointer;
    }
  }

  .dropdown__button:focus + .dropdown__menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
}