/* =========================================== */

.red   { background: hotpink; }
.blue  { background: deepskyblue; }
.green { background: lightgreen; }

/* =========================================== */

// <App>
div#app-main { 

  // --------------------------------------------
  
  // <Filter>
  @import 'filter';

  // --------------------------------------------

} // </ App>   #app-main

/* =========================================== */


/* =========================================== */